PORTS=3140,53194
TUNNEL_ID=
DEVTUNNEL_ACCESS_TOKEN=
ALLOW_ANONYMOUS=false
LOGIN_PROVIDER=github
DEVTUNNEL_DNS_PRIMARY=1.1.1.1
DEVTUNNEL_DNS_SECONDARY=8.8.8.8
DEVTUNNEL_DNS_FALLBACK=127.0.0.1
# To disable DevTunnel external DNS and use the system resolver only:
# COMPOSE_FILE=compose.yml:compose.system-dns.yml
LOCAL_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
CONTAINER_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
# RHEL/Rocky/Fedora hosts usually use:
# LOCAL_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt

SQUID_HTTP_PORT=3140
SQUID_LISTEN_ADDRESS=127.0.0.1
SQUID_VISIBLE_HOSTNAME=devtunnel-toolkit-squid
SQUID_SSL_PORTS=443 563 22
SQUID_SAFE_PORTS=80 21 22 443 70 210 1025-65535 280 488 591 777

OVPN_PORT=53194
OVPN_LISTEN_ADDRESS=127.0.0.1
OVPN_PROTO=tcp
OVPN_NETWORK=10.8.0.0
OVPN_NETMASK=255.255.255.0
OVPN_CIDR=10.8.0.0/24
OVPN_CLIENT_NAME=devtunnel-toolkit
OVPN_REMOTE_HOST=127.0.0.1
OVPN_REMOTE_PORT=53194
OVPN_PUSH_ROUTES=10.0.0.0 255.0.0.0,172.16.0.0 255.240.0.0,192.168.0.0 255.255.0.0
OVPN_DNS=
OVPN_REDIRECT_GATEWAY=false
